<div ngClass="{{ node.type }}">
  <div
    *ngIf="!showAddNoteControl; else addNodeControlTemplate"
    class="node-flex-container"
  >
    <span class="node-name">{{ node.name }}</span>
    <div class="node-btn-group">
      <button
        class="img-node-btn"
        (click)="onShowAddNoteControl()"
      >
        <img
          src="../../../assets/images/folder-structure/add-circle.svg"
        />
      </button>
      <button class="img-node-btn" (click)="onDelete()">
        <img
          src="../../../assets/images/folder-structure/delete.svg"
        />
      </button>
    </div>
  </div>
</div>

<ng-template #addNodeControlTemplate>
  <div class="node-flex-container">
    <input
      class="add-node-input"
      type="text"
      autofocus
      [formControl]="addNodeInputControl"
    />
    <div class="node-btn-group">
      <button
        class="img-node-btn"
        [disabled]="addNodeInputControl.invalid"
        (click)="onSubmit()"
      >
        <img src="../../../assets/images/folder-structure/check-box.svg" />
      </button>
      <button class="img-node-btn" (click)="onCancel()">
        <img src="../../../assets/images/folder-structure/close-square.svg" />
      </button>
    </div>
  </div>
</ng-template>
