<ul *ngIf="root">
  <li class="root">
    <ng-container *ngTemplateOutlet="nodeTemplate; context: { nodeValue: root, nodeParent: parent }"></ng-container>
  </li>
  <li *ngFor="let child of root.children">
    <ng-container [ngSwitch]="child.type">
      <ng-container *ngSwitchCase="nodeType.Folder">
        <app-node-tree [root]="child" [parent]="root"></app-node-tree>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { nodeValue: child, nodeParent: root }">
        </ng-container>
      </ng-container>
    </ng-container>
  </li>
  <li *ngIf="showAddNodeControl">
    <app-add-node class="app-node" [type]="nodeType.Folder" [mode]="nodeCreateType.Display" (submit)="onCreate($event)" (cancel)="onCancel()"></app-add-node>
  </li>
</ul>
<ng-template #nodeTemplate let-nodeValue="nodeValue" let-nodeParent="nodeParent">
  <app-node class="app-node" [node]="nodeValue" [parent]="nodeParent" (submit)="onShowAddNodeControl()" (delete)="onDelete($event)"></app-node>
</ng-template>
