<ul *ngIf="node">
  <li [class.root]="node.children?.length">
    <ng-container *ngTemplateOutlet="nodeTemplate; context: { nodeValue: node }"></ng-container>
  </li>
  <li *ngFor="let child of node.children">
    <ng-container [ngSwitch]="child.type">
      <ng-container *ngSwitchCase="nodeType.Folder">
        <app-node-tree [node]="child"></app-node-tree>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="nodeTemplate; context: { nodeValue: child }">
        </ng-container>
      </ng-container>
    </ng-container>
  </li>

  <li *ngIf="canShowAddNodeControls(node)">
    <app-add-node #treeAddNodeControls [style.width.%]="100" [type]="nodeType.Folder" [mode]="showAddNodeControlMode" (submit)="onCreate($event)" (cancel)="onCancel()"></app-add-node>
  </li>
</ul>

<ng-template #nodeTemplate let-nodeValue="nodeValue">
  <app-node [style.width.%]="100" [node]="nodeValue" (submit)="onCreate($event)" (delete)="onDelete($event)"></app-node>
</ng-template>
