<div class="card">
  <div ngClass="{{ node?.type }}">

    <div class="node-flex-container">
      <span class="node-name">{{ node?.name }}</span>
      <div class="node-btn-group">
        <button [hidden]="node.type === nodeType.File" class="img-node-btn" (click)="onSubmit()">
          <img src="../../../assets/images/folder-structure/add-circle.svg" />
        </button>
        <button class="img-node-btn" (click)="onDelete()">
          <img src="../../../assets/images/folder-structure/delete.svg" />
        </button>
      </div>
    </div>
  </div>
</div>
