@import '~normalize.css';

$border-color: #a9a9a9;
$card-box-shadow: rgba(0,0,0,0.2);

html {
  font-size: 10px;
  font-family: 'Roboto Mono', monospace;
}

.list-unstyled {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.btn-group {
  &:after {
    content: "";
    clear: both;
    display: table;
  }

  button {
    border: 1px solid $border-color;
    cursor: pointer;
    float: left;

    &:not(:last-child) {
      border-right: none;
    }
  }
}

.card {
  border-radius: 5px;
  transition: 0.3s;

  &:hover {
    box-shadow: 0 8px 16px 3px $card-box-shadow;
  }
}


